<a href="https://colab.research.google.com/github/samirbehindscreen-jpg/DTSC3020/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#1
fruits=["apple","banana","orange"]
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])

['apple', 'banana', 'orange']
apple
banana
orange

In [6]:
#2
names=["samir","ali","charlie","sushila"]
names[0]="baghdad"
print(names)

['baghdad', 'ali', 'charlie', 'sushila']

In [7]:
#3
Vehicles=["Bronco","Bugatti","Porsche","BMW","mclaren"]
Vehicles.append("Mercedes")
print(Vehicles)

['Bronco', 'Bugatti', 'Porsche', 'BMW', 'mclaren', 'Mercedes']

In [9]:
#4
foods=["pizza","lasagna","sandwich","rice","Noodles","Fries"]
foods.remove("rice")
print(foods)

['pizza', 'lasagna', 'sandwich', 'Noodles', 'Fries']

In [13]:
#5
City=["Dallas","Seattle","Denver","Butwal"]
City.sort()
print(City)

['Butwal', 'Dallas', 'Denver', 'Seattle']

In [14]:
#6
Animals=["parrot","lion","tiger"]
for animal in Animals:
  print(animal)

parrot
lion
tiger

In [16]:
#7
num=[1,2,3,4,5]
for number in num:
  print(number*2)

2
4
6
8
10

In [17]:
#8
friends=["chris","ironman","Sidney","Adriana","lucas","Liza"]
print(friends[:3])
print(friends[-3:])

['chris', 'ironman', 'Sidney']
['Adriana', 'lucas', 'Liza']

In [18]:
#9
num=list(range(1,11))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
#10
square=[x**2 for x in range(1,6)]
print(square)

[1, 4, 9, 16, 25]