<a href="https://colab.research.google.com/github/samirbehindscreen-jpg/DTSC3020/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [3]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

grades=min(grades.values())
print(grades)

16

Exercise 2: print names of students who registered for any course containing "Data"

In [10]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}
for students, course in courses.items():
  for course_list in course:
    if "Data" in course_list:
      print(students)

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [12]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}
for titles,check in library.items():
  if check['available']==False:
    print(titles)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [13]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

for students, item in registrations.items():
  if len(item)>2:
    print(students)

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [15]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}
print(sum(grades.values())/len(grades))

18.1

Exercise 6: Count and print the number of students registered for "Python".

In [23]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}
count=0
for students,num in courses.items():
  if 'Python' in num:
      count+=1

print("Number of students in Python :", count)

Number of students in Python : 3

Exercise 7: Print titles of books with more than 200 pages.

In [25]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}
for titles, pages in book_pages.items():
  if pages>200:
    print(titles)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [26]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

for students,course in courses.items():
  print(students,"has registered for",len(course)),'courses'

Ali has registered for 2
Sara has registered for 2
Reza has registered for 2
Lina has registered for 2
Omid has registered for 1